* {
	padding: 0;
	margin: 0;
	border: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
	background-color: whitesmoke;
	font-family: 'Roboto';
}

main {
	margin-left: 30vh;
	margin-right: 30vh;
}

header {
	color: black;
	text-align: left;
	padding: 15px;
	margin: 15px;
}

header img {
	margin-left: 30vh;
	margin-right: 70px;
	width: 90px;
}

header a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	line-height: 26px;
	margin-right: 30px;
}
/* Banner */
#intro {
	background-color: #fbdfdb;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 30px;
	border-radius: 30px;
	width: 940px;
	height: 366px;
	position: relative;
}

#intro h1 {
	font-weight: 700;
	font-size: 32px;
	line-height: 42px;
	margin-top: 117px;
	margin-left: 60px;
}

#intro h2 {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	opacity: 0.7;
	margin-left: 60px;
	margin-top: 10px;
}

#intro img {
	width: 216px;
	height: 300px;
	position: absolute;
	right: 100px;
	bottom: 0px;
}

/* Mais Acessadas */

#maisAce {
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	padding: 15px;
	margin-top: 30px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 940px;
	gap: 10px;
}

.card img {
	width: 300px;
	height: 140px;
	border-radius: 15px;
	cursor: pointer;
}

.card h1 {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	padding-top: 10px;
	cursor: pointer;
}

.card h2 {
	color: #777777;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
}

#footer {
	margin-top: 50px;
	text-align: center;
	background-color: #eeeeee;
}

#footer h1 {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	opacity: 0.3;
}

/* Modal Card Recetas */

.modal-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.modal {
	background-color: white;
	width: 50%;
	height: 60%;
	margin: 20vh auto;
	position: relative;
	border-radius: 15px;
}

.modal .close-modal {
	font-size: 14px;
	color: #777777;
	position: absolute;
	bottom: 10px;
	right: 50%;
	cursor: pointer;
}

/* Modal.Active */

.modal-content {
	text-align: center;
}

.modal-content img {
	border-radius: 15px;
	width: 70%;
	margin: 30px auto;
}

.modal-content h1 {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
}

.modal-content h2 {
	color: #777777;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}

/* ----Sobre Page------ */

#sobretext h1 {
	font-size: 24px;
	line-height: 34px;
	font-weight: 700;
	padding: 20 20 20 0px;
	margin-bottom: 10px;
}

#sobretext p {
	font-size: 18px;
	line-height: 28px;
	font-weight: 400;
	color: #444444;
	padding: 0 20 20 0px;
	margin: 10px auto;
}

#sobretext h2,
h3 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	padding: 20 20 20 0px;
	margin-top: 10px;
}

/* ====Recipe Page==== */

#recipesmain {
	margin-left: 30vh;
	margin-right: 30vh;
	text-align: center;
}

.recipes_title img {
	text-align: center;
	max-height: 100%;
	border-radius: 20px;
}

.recipes_title h1 {
	font-size: 36px;
	text-decoration: bold;
}

.recipes_title p {
	font-size: 20px;
	color: #777777;
}

#ingredients div:first-child {
	text-align: left;
	display: flex;
	align-items: baseline;
	margin: 0px auto;
}

#preparation div:first-child {
	text-align: left;
	display: flex;
	align-items: baseline;
	margin: 0px auto;
}

#information div:first-child {
	text-align: left;
	display: flex;
	align-items: baseline;
	margin: 0px auto;
}
#ingredients h2 {
	font-size: 26px;
	font-weight: 700;
	padding: 5px;
}

#preparation h3 {
	font-size: 26px;
	font-weight: 700;
	padding: 5px;
	margin: 0px;
}

#information h4 {
	font-size: 26px;
	font-weight: 700;
	padding: 5px;
}

.show_ing,
.show_prep,
.show_inf {
	text-decoration: none;
	font-size: 12px;
	padding: 5px;
	cursor: pointer;
}

.ingredients_content,
.preparation_content,
.information_content {
	text-align: left;
	margin: 0px auto;
	padding: 5px;
	font-size: 18px;
	line-height: 28px;
	opacity: 0;
	display: none;
}
/* class To show the recipe content */
.active {
	opacity: 1;
	display: block;
	visibility: visible;
}
