
{% extends "layout.njk" %}

{% block content %}
 
   <main>
        <div id=intro>
            <div>
                <h1>As melhores Receitas</h1>
                <h2>Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.</h2>
            </div>
            <img src="/chef.png" alt="chef">    
        </div>  
        
        <h1 id="maisAce">Mais acessadas</h1>

        <div class="cards">
           
           {% for recipe in recipes %}
            <div class="card" id="{{loop.index -1}}">
                <img src="{{recipe.image}}" alt="{{recipe.title}}">
                <h1>{{recipe.title}}</h1>
                <h2>{{recipe.author}}</h2>
            </div> 
            {%endfor%}

        </div>
    </main>
  
    </div>
    {% endblock content %}
