<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodfy</title>   
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class=Menu>
            <a href="/"><img src="/logo.png" alt=""></a>
            <a href="/sobre">Sobre</a>
            <a href="/receitas">Receitas</a>
        </div>
    </header>

{%block content%}
{%endblock content%}

    
    
</body>
    <footer>
        <div id="footer">
            <h1>Todos direitos reservados, receitas Foodfy.</h1>
        </div>
    </footer>
    
    <script src="script.js"></script>

</body>
</html>