{% extends "layout.njk" %}
   
   {% block content %}
    <main>
        <div class="cards">
           
            <div class="card" id="burger">
                <img src="imagens/burger.png" alt="burger">
                <h1>Triplo Bacon Burger</h1>
                <h2>por Jorge Relato</h2>
            </div> 
        
            <div class="card" id="pizza">
                <img src="imagens/pizza.png" alt="pizza">
                <h1>Pizza 4 Estaçoes</h1>
                <h2>por Fabiana Melo</h2>
            </div> 

            <div class="card" id="espaguete">
                <img src="imagens/espaguete.png" alt="espaguete">
                <h1>Espaguete ao Alho</h1>
                <h2>por Júlia Kinoto</h2>
            </div> 

            <div class="card" id="lasanha">
                <img src="imagens/lasanha.png" alt="lasanha">
                <h1>Lasanha Mac n' Cheese</h1>
                <h2>por Juliano Vieira</h2>
            </div> 

            <div class="card" id="doceceu">
                <img src="imagens/doce.png" alt="doce">
                <h1>Docinhos pao-do-céu</h1>
                <h2>por Ricardo Golvea</h2>
            </div> 

            <div class="card" id="asinhas">
                <img src="imagens/asinhas.png" alt="asinhas">
                <h1>Asinhas de Frango ao Barbecue</h1>
                <h2>por Vania Steroski</h2>
            </div> 

            <div class="card" id="burger">
                <img src="imagens/burger.png" alt="burger">
                <h1>Triplo Bacon Burger</h1>
                <h2>por Jorge Relato</h2>
            </div> 
        
            <div class="card" id="pizza">
                <img src="imagens/pizza.png" alt="pizza">
                <h1>Pizza 4 Estaçoes</h1>
                <h2>por Fabiana Melo</h2>
            </div> 

            <div class="card" id="espaguete">
                <img src="imagens/espaguete.png" alt="espaguete">
                <h1>Espaguete ao Alho</h1>
                <h2>por Júlia Kinoto</h2>
            </div> 

            <div class="card" id="lasanha">
                <img src="imagens/lasanha.png" alt="lasanha">
                <h1>Lasanha Mac n' Cheese</h1>
                <h2>por Juliano Vieira</h2>
            </div> 

            <div class="card" id="doceceu">
                <img src="imagens/doce.png" alt="doce">
                <h1>Docinhos pao-do-céu</h1>
                <h2>por Ricardo Golvea</h2>
            </div> 

            <div class="card" id="asinhas">
                <img src="imagens/asinhas.png" alt="asinhas">
                <h1>Asinhas de Frango ao Barbecue</h1>
                <h2>por Vania Steroski</h2>
            </div> 
        </div>
    </main>
    <!-- Modal Card receitas -->
    <div class="modal-overlay">
        <div class="modal">
            <div class="modal-content">
                <img src="" alt="">
                <h1></h1>
                <h2></h2>
            </div>
            <a class="close-modal">Voltar</a>
        </div>

       

    </div>

    {% endblock content%}