{% extends "layout.njk" %}
  
    {% block content %}

    <main>
        <div id="sobretext">
            <h1>Sobre o Foodfy</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, obcaecati exercitationem. Hic obcaecati assumenda recusandae, optio sequi eius quasi voluptate, unde, maiores necessitatibus nihil tenetur? Reprehenderit saepe sit perferendis iusto? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae assumenda praesentium, magnam est et distinctio hic at molestias harum eligendi eius ut perspiciatis voluptatem voluptatum repellendus fugiat quos. Id, esse.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit pariatur consequuntur excepturi. Sit consectetur nostrum sed cumque explicabo ex ducimus? Aspernatur corporis odio voluptatum? Dicta odit doloremque minima. Nobis, eveniet! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit tempore quibusdam quasi vel dignissimos nulla at, asperiores voluptatem eaque cumque vitae eum est ut architecto, quod magnam, suscipit culpa quia?</p>
            <h2>Como tudo comecou...</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel doloremque atque aliquid ad. Voluptatum commodi voluptates repudiandae facilis. Reiciendis quidem facere beatae modi corrupti dolorum voluptatum aut blanditiis culpa magnam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nostrum ab neque, perferendis maxime eum incidunt quas error! Consectetur id ratione amet eum laborum quas possimus enim, commodi voluptatibus rem!</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae repellendus, magnam aspernatur deleniti obcaecati dolorum dicta neque dolor earum voluptatibus voluptatum in consequatur itaque rem est porro nobis doloribus eum.</p>
            <h3>Nossas receitas</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque error commodi, officiis maxime nisi dolores sit excepturi eaque. Perferendis, consectetur? Pariatur, quo sint magni ab quasi magnam hic rem blanditiis.</p>
        </div>
    </main>

    {% endblock content %}

